a.social:hover {
    transform: translateY(-2px);
  }
  
  a.youtube {
    color: #49a1eb;
  }
  
  a.facebook {
    color: #4968ad;
  }
  
  a.inkedin {
    color: #49a1eb;
  }
  
  a.instagram {
    color: #49a1eb;
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  .landing-grid{
    text-align: center;
  }

  
.pic{
  height: 350px;
  border-radius: 50%;
  padding-bottom: 20px;

}

.search-icon{
  opacity: .7;
  padding-right: 10px;
}

.search-bar{
  background-color: white;
  color: rgb(0, 0, 0);
  width: 700px;
  text-align: left;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px 15px 15px 15px;
}

.welcome-text{
  background-color: rgba(0, 82, 82, 0.719);
  color: white;
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-results{
  border-radius: 0px 0px 15px 15px;
}

.intro-text{
  background-color: white;
  width: 700px;
  margin: auto;
  color: black;
  padding: 10px;
  font-size: 25px;
  line-height: normal;
  text-align: left;
}

.about-me{
  background-color: rgba(0, 82, 82, 0.719);
  width: 700px;
  margin: auto;
  color: white;
  padding: 10px;
  font-size: 25px;
  line-height: normal;
  text-align: left;
}

.projects-navBar{
  text-align: center;
  size: inherit;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}