
.content{
  background-image: url(./images/andromeda-large.jpg);
  background-size: cover;
}

.navbar-color{
  
  background: #F3904F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4d5e77, #1b1f35);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c4a5e, #1a1d31); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
